# FIFA 21 DATASET

## Project Description
For my project, I focused on data cleaning and transformation of the FIFA 21 dataset.

### Objectives:
- Ensuring the appropriate data types for the height and width columns
- Separate the joined columns into year, month and day columns
- Clean and transform the value, wage and release clause columns into integers
- Remove newline characters from the Hits column

In [1]:
# Importing packages needed for the project.
import pandas as pd

In [63]:
df = pd.read_csv("fifa21 raw data v2.csv",low_memory=False)
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

## 1. Ensuring the appropriate data types for the height and width columns

In [40]:
df[["Height","Weight"]].dtypes

Height    object
Weight    object
dtype: object

### Changing height from object to float.

In [41]:
df["Height"].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [42]:
def convert_height(height):
    if 'cm' in height:
        return int(height.replace('cm',''))
    else:
        feet,inches = height.split('\'')
        return int(feet)*30.48+int(inches.replace('"',''))*2.54
    
df["Height"]=df["Height"].apply(convert_height)

In [43]:
df["Height"].head()

0    170.0
1    187.0
2    188.0
3    181.0
4    175.0
Name: Height, dtype: float64

### Changing weight from object to float

In [34]:
df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [45]:
def convert_weight(weight):
    if 'kg'in weight:
        return int(weight.replace('kg',''))
    else:
        return int(weight.replace('lbs',''))/2.205
    
df['Weight']=df['Weight'].apply(convert_weight)

In [46]:
df['Weight'].head()

0    72.0
1    83.0
2    87.0
3    70.0
4    68.0
Name: Weight, dtype: float64

## 2. Separate the joined columns into year, month and day columns

In [47]:
df["Joined"].head()

0     Jul 1, 2004
1    Jul 10, 2018
2    Jul 16, 2014
3    Aug 30, 2015
4     Aug 3, 2017
Name: Joined, dtype: object

In [48]:
df["Joined"]=pd.to_datetime(df["Joined"])
df["Year"]=df["Joined"].dt.year
df["Month"]=df["Joined"].dt.month
df["Day"]=df["Joined"].dt.day

In [49]:
df[["Year","Month","Day"]].head()

   Year  Month  Day
0  2004      7    1
1  2018      7   10
2  2014      7   16
3  2015      8   30
4  2017      8    3

## 3. Clean and transform the value, wage and release clause columns into integers

In [59]:
df[["Value","Wage","Release Clause"]].head()

     Value   Wage Release Clause
0  €103.5M  €560K        €138.4M
1     €63M  €220K         €75.9M
2    €120M  €125K        €159.4M
3    €129M  €370K          €161M
4    €132M  €270K        €166.5M

In [64]:
def convert_to_int(value):
    if "M" in value:
        return float(value.replace('€','').replace('M',''))* 10**6
    elif "K" in value:
        return int(value.replace('€','').replace('K',''))* 10**3
    else:
        return int(value.replace('€',''))
    
df['Value']=df['Value'].apply(convert_to_int)
df['Wage']=df['Wage'].apply(convert_to_int)
df['Release Clause']=df['Release Clause'].apply(convert_to_int)

In [65]:
df[["Value","Wage","Release Clause"]].head()

         Value    Wage  Release Clause
0  103500000.0  560000     138400000.0
1   63000000.0  220000      75900000.0
2  120000000.0  125000     159400000.0
3  129000000.0  370000     161000000.0
4  132000000.0  270000     166500000.0

## 4. Remove newline characters from the Hits column

In [70]:
df['Hits']=df['Hits'].str.replace('\n','')
df['Hits']

0        771
1        562
2        150
3        207
4        595
        ...
18974    NaN
18975    NaN
18976    NaN
18977    NaN
18978    NaN
Name: Hits, Length: 18979, dtype: object